$article_color: #f5f5f5;
$main_color: #0072c6;
$sec_color: #F24F4F;
$title_fonts: BebasNeueRegular, Helvetica Neue, sans-serif, Open Sans;
$main_fonts: TitilliumWeb, Open Sans, Helvetica Neue, sans-serif;
